<hr>
<div class="mat-title" style="text-align: center;">Buttons</div>
<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>

<hr>
<div class="mat-title" style="text-align: center;">Toggle</div>
<div>
    <mat-button-toggle #toggleBtn checked disableRipple>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>
<div class="mat-title" style="text-align: center;">ToggleGroup</div>
<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>
<hr>
<div class="mat-title" style="text-align: center;">Icons</div>
<!-- https://material.io/tools/icons/?icon=grade&style=baseline use this site-->
<div>
    <mat-icon color="primary">thumb_up</mat-icon>
    <mat-icon color="warn">build</mat-icon>
</div>
<hr>
<div class="mat-title" style="text-align: center;">Badge</div>
<span style="text-align: center;">
    <div>
        <span matBadge="5">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgePosition="below before">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgePosition="below after">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgePosition="above before">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeSize="small">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeSize="medium">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeSize="large">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeColor="primary">Alert</span>
    </div>
    <br>
    <div>
        <span matBadge="5" matBadgeColor="accent">Alert</span>
    </div>
    <br>
    <div>
        <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Alert</span>
    </div><br>
    <div>
        <mat-icon color="warn">
            <span class="material-icons" [matBadge]="alert" matBadgeColor="accent" matBadgeSize="small"
                matBadgeOverlap="false">shopping_cart</span>
        </mat-icon>
    </div>
    <br>
    <div>
        <span [matBadge]="alert" [matBadgeHidden]="alert===0">Alert</span>
    </div><br>
</span>
<hr>
<div class="mat-title" style="text-align: center;">ToolBar</div>
<mat-toolbar color="primary" class="navbar">
    <div>CodeEvolution</div>
    <div >
        <span class="navbaritems">Home</span>
        <span class="navbaritems">About</span>
        <span class="navbaritems">Services</span>
    </div>
</mat-toolbar>
<hr>
<div class="mat-title" style="text-align: center;">ToolBar</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav (opened)="log('opened')" (closed)="log('closed')" mode="side" [(opened)]="opened">SideNav</mat-sidenav>
    <!-- mode=side,push,over -->
    <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toogle Open</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>
<hr>
<div class="mat-title" style="text-align: center;" >Menu</div>
<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="appMenu" color="primary">Menu</button>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>
<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-age="age">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Age is {{age}}</button>
        <button mat-menu-item>Log Out {{name}}</button>
    </ng-template>  
</mat-menu>
<button mat-flat-button color="warn" [matMenuTriggerData]="{name:'Nagarjuna', age:'30'}" [matMenuTriggerFor]="lazyMenu">Nagarjuna</button>
<button mat-flat-button color="warn" [matMenuTriggerData]="{name:'CodeEvolution', age:'Unknown'}" [matMenuTriggerFor]="lazyMenu">CodeEvolution</button>
<hr>
<div class="mat-title" style="text-align: center;" >List & Divider</div>
<!-- <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 1</mat-list-item>
</mat-list>
<mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
</mat-nav-list> -->
<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <p matLine>Line 2</p>
    </mat-list-item>
</mat-list>