<!-- <div class="content">
    <span>{{title}}</span>
</div> -->
<hr>

<div class="mat-title" style="text-align: center;">Buttons</div>
<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>

<hr>
<div class="mat-title" style="text-align: center;">Toggle</div>
<div>
    <mat-button-toggle #toggleBtn checked disableRipple>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>
<div class="mat-title" style="text-align: center;">ToggleGroup</div>
<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>
<hr>
<div class="mat-title" style="text-align: center;">Icons</div>
<!-- https://material.io/tools/icons/?icon=grade&style=baseline use this site-->
<div>
    <mat-icon color="primary">thumb_up</mat-icon>
    <mat-icon color="warn">build</mat-icon>
</div>
<hr>
<div class="mat-title" style="text-align: center;">Badge</div>
<span style="text-align: center;">
    <div>
        <span matBadge="5">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgePosition="below before">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgePosition="below after">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgePosition="above before">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeSize="small">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeSize="medium">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeSize="large">Alert</span>
    </div><br>
    <div>
        <span matBadge="5" matBadgeColor="primary">Alert</span>
    </div>
    <br>
    <div>
        <span matBadge="5" matBadgeColor="accent">Alert</span>
    </div>
    <br>
    <div>
        <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Alert</span>
    </div><br>
    <div>
        <mat-icon color="warn">
            <span class="material-icons" [matBadge]="alert" matBadgeColor="accent" matBadgeSize="small"
                matBadgeOverlap="false">shopping_cart</span>
        </mat-icon>
    </div>
    <br>
    <div>
        <span [matBadge]="alert" [matBadgeHidden]="alert===0">Alert</span>
    </div><br>
</span>
<hr>
<div class="mat-title" style="text-align: center;">ToolBar</div>
<mat-toolbar color="primary" class="navbar">
    <div>CodeEvolution</div>
    <div >
        <span class="navbaritems">Home</span>
        <span class="navbaritems">About</span>
        <span class="navbaritems">Services</span>
    </div>
</mat-toolbar>
<hr>
<div class="mat-title" style="text-align: center;">ToolBar</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav (opened)="log('opened')" (closed)="log('closed')" mode="side" [(opened)]="opened">SideNav</mat-sidenav>
    <!-- mode=side,push,over -->
    <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toogle Open</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>
<hr>
<div class="mat-title" style="text-align: center;" >Menu</div>
<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="appMenu" color="primary">Menu</button>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>
<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-age="age">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Age is {{age}}</button>
        <button mat-menu-item>Log Out {{name}}</button>
    </ng-template>  
</mat-menu>
<button mat-flat-button color="warn" [matMenuTriggerData]="{name:'Nagarjuna', age:'30'}" [matMenuTriggerFor]="lazyMenu">Nagarjuna</button>
<button mat-flat-button color="warn" [matMenuTriggerData]="{name:'CodeEvolution', age:'Unknown'}" [matMenuTriggerFor]="lazyMenu">CodeEvolution</button>
<hr>
<div class="mat-title" style="text-align: center;" >List & Divider</div>
<!-- <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 1</mat-list-item>
</mat-list>
<mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
</mat-nav-list> -->
<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <p matLine>Line 2</p>
    </mat-list-item>
</mat-list>
<hr>
<div class="mat-title" style="text-align: center;">Grid List</div>
<mat-grid-list cols="3" rowHeight="2:1" gutterSize="10px">
    <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>
<hr>
<div class="mat-title" style="text-align: center;">Expansion Panel</div>
<mat-accordion multi="true">
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Angular Fundamentals</mat-panel-title>
        <mat-panel-description>Total Duration: 3 Hours</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add Course details</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Angular Material</mat-panel-title>
        <mat-panel-description>Total Duration: 2 Hours</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add Course details</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
<hr>
<div class="mat-title" style="text-align: center;">Cards</div>
<mat-card>
    <mat-card-title>
    Card Title
</mat-card-title>
<mat-card-content>
    This is the Card Content
</mat-card-content>
<mat-card-actions align="end">
    <button mat-flat-button>Login</button>
</mat-card-actions>
</mat-card>
<hr>
<div class="mat-title" style="text-align: center;">Tabs</div>
<mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
    <mat-tab label="Angular">Angular Content</mat-tab>
    <mat-tab label="React">React Content</mat-tab>
    <mat-tab label="Vue">Vue Content</mat-tab>
</mat-tab-group>
<!-- {{tabRef.selectedIndex}} -->
<hr>

<div class="mat-title" style="text-align: center;">Stepper</div>
<mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed="false"><p>Shipping Address Details</p></mat-step>
    <mat-step label="Billing Address" completed="false"><p>Billing Address Details</p>
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
    </mat-step>
    <mat-step label="Place Order" completed="false"><p>Place Order Details</p></mat-step>
</mat-vertical-stepper>
<hr>

<div class="mat-title" style="text-align: center;">Input & FormField</div>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 Charecters</mat-hint>
</mat-form-field><br>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 Charecters</mat-hint>
</mat-form-field>
<hr>
<div class="mat-title" style="text-align: center;">Select & FormField</div>
<!-- <mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue">
        <mat-option>None</mat-option>
        <mat-option value="Angular">Angular</mat-option>
        <mat-option value="React">React</mat-option>
        <mat-option value="Vue">Vue</mat-option>
    </mat-select>
</mat-form-field>
{{selectedValue}} -->
<mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
        <mat-option>None</mat-option>
        <mat-optgroup label="Web">
        <mat-option value="Angular">Angular</mat-option>
        <mat-option value="React">React</mat-option>
        <mat-option value="Vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
        <mat-option value="ionic">Ionic</mat-option>
        <mat-option value="Reactnative">Reactnative</mat-option>
    </mat-optgroup>
    </mat-select>
</mat-form-field>
{{selectedValue}}
<hr>
<div class="mat-title" style="text-align: center;">AutoComplete</div>
<form>
    <mat-form-field>
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl"/>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filterdOptions |async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
    </mat-form-field>
</form>
<hr>
<div class="mat-title" style="text-align: center;">CheckBox</div>
<mat-checkbox>Subscribe</mat-checkbox><br>
<mat-checkbox labelPosition="before">Subscribe</mat-checkbox><br>
<mat-checkbox color="primary">Subscribe</mat-checkbox><br>
<mat-checkbox color="warn">Subscribe</mat-checkbox>
<hr>
<div class="mat-title" style="text-align: center;">RadioButtons</div>
<mat-radio-group>
    <mat-radio-button value="angular" color="primary"> Angular</mat-radio-button>
    <mat-radio-button value="react"> React</mat-radio-button>
    <mat-radio-button value="vue" color="warn"> Vue</mat-radio-button>
</mat-radio-group>
<hr>
<div class="mat-title" style="text-align: center;">DatePicker</div>
<mat-form-field>
    <input matInput [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate">
    <!-- <input matInput [matDatepicker]="myDatePicker" [matDatepickerFilter]="dateFilter"> -->
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <!-- <mat-datepicker #myDatePicker startView="multi-year" ></mat-datepicker> -->
    <mat-datepicker #myDatePicker ></mat-datepicker>
</mat-form-field>
<hr>
<div class="mat-title" style="text-align: center;">ToolTip</div>
<button mat-raised-button matTooltip="Welcome to CodeEvolution" 
matTooltip="after" matTooltipShowDelay="1000" matTooltipHideDelay="1000">Hello </button>
<hr>
<div class="mat-title" style="text-align: center;">Snackbar</div>
<button mat-button (click)="openSnackBar('Item Deleted','Dismiss')">
   Show Snack-Bar 
</button>
